@tailwind base;
@tailwind components;
@tailwind utilities;




* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #F0F1F6;
}

.button:disabled {
  color: rgb(150, 150, 150);
}

